/* Define color palette as CSS variables */
:root {
    --palette-8: rgba(43, 53, 48, 1);
    --palette-15: rgba(242, 236, 228, 1);
    --palette-7: rgba(215, 211, 204, 1);
    --palette-2: rgba(107, 133, 124, 1);
    --palette-9: rgba(217, 140, 80, .4);
    --background: rgba(32, 44, 40, .5);
}

button {
    background-color: var(--palette-8);
    color: var(--palette-15);
    font-family: "Mononoki Nerd Font", monospace;
    font-size: 72px;
    border-radius: 7px;
    border: none;
    transition: all 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2px;

    outline: none;
}

button:hover, button:active, button:focus {
    background-color: var(--palette-2);
    color: var(--palette-7);
    transform: translateY(-2px);
    border: 1px solid var(--palette-9);
}

window {
    background-color: var(--background);
    border: 0px solid var(--palette-9);
    padding: 2px;
    border-radius: 11px;
}

grid {
    padding: 1px;
}
